<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8"/>
        <title>Personnages Stars Wars</title>
        <link rel='stylesheet' href='../personnagesStarWars_css.css'/>
    </head>
    <body>
        <header>
            <h1>Personnages de Stars Wars</h1>
            <!-- <img/> !-->
        </header>
    <section>
        <h2>Noms des Personnages</h2>
        <ul>
            {% for nom in personnages %}
            <li>{{nom}}</li>
            {% endfor %}
        </ul>
    </section>
    <section>
        <h2>Noms des Personnages Féminins</h2>
        <ul>
            {% for nom in femmes %}
            <li>{{nom}}</li>
            {% endfor %}
        </ul>
    </section>
    <section>
        <h2>Noms des Personnages Grands</h2>
        <ul>
            {% for nom in grands %}
            <li>{{nom}}</li>
            {% endfor %}
        </ul>
    </section>
    <section>
        <h2>Personnages par genre</h2>
        <table>
            <tr><th>Noms Masculins</th>
                {% for nom in hommes %}
                <td>{{nom}}</td>
                {% endfor %}
            </tr>
            <tr><th>Noms Féminins</th>
                {% for nom in  femmes %}
                <td>{{nom}}</td>
                {% endfor %}
            </tr>
            <tr><th>Noms Droïdes</th>
                {% for nom in droides %}
                <td>{{nom}}</td>
                {% endfor %}
            </tr>
        </table>
    </section>
    <section>
        <h2>Tous les personnages</h2>
        <table>
            <thead>
                <th>Noms</th>
                <th>Genre</th>
                <th>Taille</th>
            </thead>
            <tbody>
                {% for nom,genre,taille in  toutlemonde %}
                <tr>
                    <td>{{nom}}</td>
                    <td>{{genre}}</td>
                    <td>{{taille}} cm</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    </body>
    <footer>
        <p>Contact: moi@univ-orleans.fr</p>
    </footer>
</html>