{% extends 'base.html.twig' %}

{% block title %}Hello WelcomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bonnes lectures</h1>

    <nav >
        <ol>
            <li><a href="/">Acceuil</a></li>
            <li><a href="/about">A propos</a></li>
            <li><a href="/book">Livres</a></li>
        </ol>
    </nav>

    <p>
        Vous souhaitez des avis sur les dernières nouveautés littéraires ? Vous souhaitez des
        recommendations pertinentes pour choisir votre prochain livre ? Vous êtes là où il
        faut !
        Feuilletez les critiques de millions d’ouvrages passés en revue par des lecteurs comme
        vous.
        Créez votre profil, dites-nous quels sont les derniers titres que vous avez aimés, ou
        vos genres favoris, et nous vous conseillerons.
    </p>
</div>
{% endblock %}
